.header {
    background: #FFFFFF;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }

    .button {
        margin: 0;
        padding: 10px 32px;
    }
}

.menu {
    display: flex;
    &__item {
        list-style-type: none;
        margin-right: 30px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */


        color: #4F4F4F;
        &:last-child {
            margin-right: 0;
        }
    }
}