.header {
    background: #FFFFFF;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }

    .button {
        margin: 0;
        padding: 10px 32px;
    }

    .tabs {
        .button {
            padding: 8px 16px;
            font-size: 16px;
            line-height: 19px;
            background-color: transparent;
            color: #4B79A5;
        }
    }
}

.menu {
    display: flex;
    &__item {
        list-style-type: none;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        &__link {
            text-decoration: none;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;

            color: #4F4F4F;
        }
    }
}