.main-screen-img {
  padding: 64px 0;
  //text-align: center;
  background: #DCE5ED;

  .image {
    max-width: 711px;
    width: 100%;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }

  &__box {
    max-width: 645px;
    margin-right: 25px;
    text-align: left;
    @media (max-width: 768px) {
      margin-right: 0;
      text-align: center;
    }
  }

  &__title {
    font-family: var(--font-family);
    font-weight: var(--fw-black);
    color: var(--color-text);

    font-size: 40px;
    line-height: 52px;

    @media (max-width: 375px) {
      font-size: 24px;
      line-height: 31px;
    }
  }
  &__text {
    font-family: var(--font-family);
    font-weight: var(--fw-normal);
    color: var(--color-text);

    font-size: 18px;
    line-height: 25px;

    @media (max-width: 375px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .button {
    @media (max-width: 375px) {
      width: 100%;
    }
  }
}
