.card {
    background: #FFFFFF;
    padding: 32px;

    // card-stock
    &__stock {
        padding: 16px 32px;
        min-height: 44px;
        margin: 24px 0;

        background: #DCE5ED;
        border-radius: 6px;

        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;

        color: #517AA4;

    }
    // .card-title
    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: #4F4F4F;
        margin-bottom: 12px;
    }

    // card-text
    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-transform: lowercase;
        color: #817D7D;
        margin-bottom: 32px;
    }
}







