.button {
    padding: 15px 30px;
    align-items: center;

    font-family: var(--font-family);
    font-weight: var(--fw-bold);
    font-size: 16px;
    line-height: 22px;

    background-color: #fff;
    border: 1px solid #DCE5ED;
    color: var(--blue-light-color);
    border-radius: var(--border-radius);
    transition: background-color 1s, color 1.5s;


    &:hover {
        cursor: pointer;
        background: #DCE5ED;
        color: #517AA4;
    }

    //blue
    &-dark {
        background: var(--blue-color);
        color: var(--white-color);

    }

    &-large {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    //small
    &-small {
        line-height: 19px;
        padding: 8px 16px;
        background-color: transparent;
        font-weight: var(--fw-normal);
    }
}
