.button {
    // width: 332px;
    // height: 56px;
    align-items: center;
    padding: 15px 30px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    //display: flex;
    //align-items: center;
    //text-align: center;

    background-color: #fff;
    border: 1px solid #DCE5ED;
    color: var(--blue-light-color);
    border-radius: var(--border-radius);
    transition: background-color 1s, color 1.5s;


    &:hover {
        cursor: pointer;
        background: #DCE5ED;
        color: #517AA4;
    }

    //blue
    &-dark {
        background: var(--blue-color);
        color: var(--white-color);
    }

    &-large {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    //small
    &-small {
        padding: 8px 16px;
    }
}


// button
//.button {
//    // width: 332px;
//    // height: 56px;
//    align-items: center;
//    padding: 15px 30px;
//    margin: auto;
//
//    background-color: #fff;
//    border: 1px solid #DCE5ED;
//    border-radius: 6px;
//
//    font-family: 'Roboto';
//    font-style: normal;
//    font-weight: 500;
//    font-size: 16px;
//    line-height: 22px;
//
//    display: flex;
//    align-items: center;
//    text-align: center;
//
//    color: #4B79A5;
//
//    &:hover {
//        cursor: pointer;
//    }
//}

