.about-page {
  .box {
    padding: 32px;
    background-color: #fff;
  }
  .row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DCE5ED;
    padding: 40px 0;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }

    &:first-child {
      border-top: 1px solid #DCE5ED;
    }

    .title {
      max-width: 326px;
      min-width: 260px;
      font-size: 30px;
      line-height: 130%;
      color: #4F4F4F;
      padding-right: 20px;

      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 130%;
      }
    }

    .text {
      max-width: 711px;
    }
  }
  .grid-card-box {
    margin-top: 94px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(290px, 1fr) );
    grid-gap: 24px 24px;

    .box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border-radius: var(--border-radius);
    }

    .image {
      padding: 25px;
    }
  }
}