.search {
  position: relative;
  //max-width: 1236px;
  //margin: auto;
  margin-bottom: 24px;

  &:hover {
    cursor: pointer;

    svg path {
      stroke: #DCE5ED;
    }
  }

  &__input {
    font-weight: var(--fw-normal);
    font-size: 16px;
    line-height: 26px;

    max-width: 1236px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 15px 13px;
    background: #FFFFFF;
    border: 1px solid #DCE5ED;
    border-radius: 6px;

    &:focus-visible {
      //outline: none;
      outline: #DCE5ED;
    }
  }
  svg {
    position: absolute;
    padding: 15px 13px;
    top: 0;
    right: 0;
  }
}