.wrapper {

}

.container {
  max-width: 1236px;
  width: calc(100% - 40px);
  padding: 0 20px;
  margin: auto;
}

.section {
  padding: 94px 0;
}

body {
  &.mobile-menu-open {
    position: fixed;
    width: -webkit-fill-available;
  }
}